body {
    margin: 0%;
    overflow-x: hidden;
    background-color: rgba(247, 241, 241, 0.979);
 }
 
 #cabecalho ul {
    padding-left: 20px;
    margin: 0;
    background-color: #aeccdd;
    list-style: none;
    font-family: cursive;
    font-size: 18px;
    display: flex;
    align-items: center;
 }
 
 #cabecalho ul li {
    display: inline;
 }
 
 #cabecalho ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
 }
 
 #cabecalho ul li a:hover {
    color: rgb(31, 30, 30);
    font-family: cursive;
    font-size: 18px;
 }
 

 
 .container {
    width: 20%;
    position: relative;
    position: absolute;
    top: 1%;
    left: 75%;
 }
 
 label {
    display: block;
 }
 
 #busca{
   width: 100%;
}

#busca, #buscaa {
   padding: 10px;
}

#buscaa{
   position: absolute;
   top: 0;
   right: 0;
}
 section {
    padding: 50px 10px 50px 50px;
 }
 
 #paisagem {
    width: 100%;
    background-color: rgba(247, 241, 241, 0.979);
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
 }
 
div.caixa {
   background-color: rgb(215, 234, 241);
   width: 300px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 30px;
   align-items: center;
   border-radius: 40px;
   margin-left: 16%; 
}
#titulo {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 400%;
  margin-left: 45%;
}

img{
  border-radius: 10px;
}

#link{
  text-decoration: none;
  font-size: 170%;
  color: black;
 
}
h2{
   font-family: 'Lato', sans-serif;
  font-family: 'Play', sans-serif;
}


.estrelas{
   height: 40px;
   width: 140px;

}
.descricao{
   font-size: 22px;
}

.tooltip {
   position: relative;
   display: inline-flex;
   align-items: center;
 }
 
 .tooltiptext{
   transition: opacity 1s;

 }
 .tooltip .tooltiptext {
   opacity: 0;
   width: 120px;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
   font-size: 25px;
   position: absolute;
   z-index: 1;
   margin-left: 30%;
 }
 
 .tooltip:hover .tooltiptext {
   opacity: 1; 
 }
 .imagens{
    transition:all 1s;
 }
 .imagens:hover{

   filter: blur(4px);
}

.divFooter{
   display: inline-block;
   margin-left: 50px;
   color: white;
   height: 30%;
}
.divFooter ul{
   text-decoration: none;
   list-style: none;
}
footer{
   background-color: #95b8ce;
}
.divFooter{
   display: inline-block;
   margin-left: 35px;
   color: white;
   height: 15%;
   display: inline-block;
   text-decoration: none;
}
a{
   text-decoration: none;
   list-style: none;
   color: white;
}
#rolarPcima{
   border-radius: 100%;
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 3px solid white;
}
.gg-chevron-up{
   color: white;
}
html{
   scroll-behavior: smooth;
}

