*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
 /* CORPO */
 #container{
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 .cor{
    width: 950px;
    height: 440px;
    background-color: rgba(143, 191, 86);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cor2{
    width: 952px;
    height: 440px;
    background-color: rgba(115, 180, 219);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cor3{
    width: 950px;
    height: 440px;
    background-color: rgba(230, 196, 141);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text{
    animation: text 10s 1;
    animation-iteration-count: 1;
}
 /* @keyframes text{
    0%{
        color: black;
        margin-top: 20px;
    }
    30%{
        color: rgb(219, 32, 32);
        margin-top: 40px;
    }
    60%{
        color: rgb(91, 219, 32);
        margin-top: 80px;
    } 
    100%{
        color: rgb(32, 219, 210);
        margin-top: 120px;
    }
} */

.texto{
    
    width:600px ;
    height:100px ;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
} 
h2{
    font-size: 60px;
}
p{
    
    font-family: initial;
    font-size: 36px;
    letter-spacing: 1px;
}
#quadradoVerde{
    height:120px;
    width:120px;
    background-color: rgba(143, 191, 86);
    transform: rotate(45deg);
    margin-top: -124%;
    margin-left: 93.6%;
}
#quadradoAzul{
    height:120px;
    width:120px;
    background-color: rgba(115, 180, 219);
    transform: rotate(45deg);
    margin-top: -75%;
    margin-left: 93.6%;
}
#quadradoMarrom{
    height:120px;
    width:120px;
    background-color: rgba(230, 196, 141);
    transform: rotate(45deg);
    margin-top: -33%;
    margin-left: 93.6%;
}