body{
    margin: 0%;
    overflow-x: hidden; 
    background-color: rgba(247, 241, 241, 0.979);
}
#cabecalho ul{ 
    padding-left: 20px;
    margin: 0;
    background-color:#aeccdd;
    list-style: none;
    font-family: cursive;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 60px;
 }
 #cabecalho ul li{
    display: inline;
 }
 #cabecalho ul li a{
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
 }
 #cabecalho ul li a:hover{
    color: rgb(31, 30, 30);
    font-family: cursive;
    font-size: 18px;
 }
 
 .container {
   width: 20%; 
   position: relative; 
   position: absolute;
   top: 1.3%;
   left: 76%;
 }
 label {display:block;}
 input {width: 100%;} 
 input,  button {padding: 10px;}
 button {
   position: absolute;
   top: 0; 
   right: 0;
 }
 
 #colunaE,#colunaD{
    float: left;
    width: 15%;
    justify-content: center;
 }
#coluna{
    margin-top: 3%;
    margin-left: 8%;
    width:50% ;
    float: left;
}
#container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 15px;
} 

#colunaDeitada{
    height: 467px;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    display: flex;
    justify-content: space-evenly;
}
.caixa{
    text-align: center;
}
h1{
    font-family: cursive;
}
footer{
    background-color: #95b8ce;
}
.divFooter ul{
    text-decoration: none;
    list-style: none;
 }
.divFooter{
    display: inline-block;
    margin-left: 50px;
    height: 30%;
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.gg-bowl{
 margin-left: 2.5%;
}
#detalhes {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
    display: flex;
    align-items: baseline;
 }
 #detalhes {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
    display: flex;
    align-items: baseline;
    margin-left: 50px;
 }
 #paraImg{
    border: 2px solid #aeccdd;
    width: 700px;
 }