html {
   scroll-behavior: smooth;
}

body {
   margin: 0%;
   overflow-x: hidden;
}

h2, h1 {
   font-family: sans-serif;
   /* animation: cor 8s 1;
   animation-iteration-count: infinite; */
}
#pisca{
   animation: cor 8s 1;
   animation-iteration-count: infinite;
}
@keyframes cor{
   0%{
      color: red;
   }
   10%{
      color: orange;
   }
   20%{
      color: yellow;
   }
   30%{
      color: yellowgreen;
   }
   40%{
      color: green;
   }
   50%{
      color: cyan;
   }
   60%{
      color: blue;
   }
   70%{
      color: purple;
   }
   80%{
      color: pink;
   }
   90%{
      color: rgb(89, 0, 255);
   }
   100%{
      color: rgb(255, 0, 64);
   }
}

/*---------------------------MENU-----------------------------------*/

#cabecalho ul {
   padding-left: 20px;
   margin: 0;
   background-color: #aeccdd;
   list-style: none;
   font-family: cursive;
   font-size: 18px;
   display: flex;
   align-items: center;
   height: 60px;
}

#cabecalho ul li {
   display: inline;
}

#cabecalho ul li a {
   color: white;
   padding: 10px 30px;
   display: inline-block;
   text-decoration: none;
}

#cabecalho ul li a:hover {
   color: rgb(31, 30, 30);
   font-family: cursive;
   font-size: 18px;
}

/*--------------------Adicinar receita--------------------------*/

#adcReceita {
   margin-left: 18%;
}

#efeito {
   position: absolute;
   left: 70.6%;
   opacity: 0;
}

#efeito:hover {
   opacity: 1;
   animation: loading 8s ease;
   animation-iteration-count: infinite;
}

@keyframes loading {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}

/*--------------------Barra de pesquisa--------------------------*/

.container {
   width: 15%;
   /* define a largura do campo */
   position: relative;
   /* cria o contexto de posicionamento do botão */
   position: absolute;
   top: 1%;
   left: 80%;
}

#busca {
   width: 100%;
}

#busca, #buscaa {
   padding: 10px;
}

#buscaa {
   position: absolute;
   top: 0;
   right: 0;
}

/*---------------------Corpo-------------------------*/

#receita {
   width: 15%;
   /* define a largura do campo */
   position: relative;
   /* cria o contexto de posicionamento do botão */
   position: absolute;
   top: 1%;
   left: 80%;
}

#colunaE, #colunaD {
   float: left;
   width: 25%;
   justify-content: center;
}

#coluna {
   margin-top: 3%;
   margin-left: 8%;
   width: 50%;
   background-color: rgb(255, 255, 255);
   float: left;
}

#container {
   display: flex;
   grid-template-columns: 1fr 1fr 1fr;
   width: 100%;
   padding: 15px;
}
#paraImg {
   border: 2px solid #aeccdd;
   width: 700px;
}
#detalhes {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   display: flex;
   align-items: baseline;
   margin-left: 50px;
}
#commentButton{
   border: transparent;
   width: 20px;
   height: 20px;
   background-color: transparent;
}
/*position: fixed;*/

#colunaDeitada {
   height: 467px;
   background-color: rgba(241, 245, 247, 0.979);
   display: grid;
   padding: 20px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 50px;
   display: flex;
   justify-content: space-evenly;
}
.caixa {
   text-align: center;
}
/*---------------------COMENTARIOS---------------------*/
#containerComment{
   margin-right: 10%;  
}
#comentarios{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   display: flex;
   align-items: baseline;
   margin-left: 25%;
}
#commentIcon{
   font-size:66px;
   color: #aeccdd;   
}
#commentIsolado{
   display: flex;
   width: 95%;
   height:100px;
   
   /* border-radius: 30px;
   border: 1px solid gray; */
}
#ladoEsquerdo{
   width: 20%;
   height:100px;
   
   display: flex;
}
#ladoMeio{
   width: 70%;
   height:100px;
   
   text-align: center;
}
#ladoDireito{
   width: 10%;
   height:100px;
   
   display:flex;
   justify-content: center;
   align-items: center;
}
#corazon:hover{
   color: red;
}
#corazon{
   
}
.usuarios{
   border-radius: 50%;
   padding: 15px ;
}
#informacoes{
   font-size: 15px;
}
#opiniao{
   margin-top: 7%;
}
hr{
   border: 1px solid rgb(228, 225, 225);
   width: 700px;
}
/* INPUT QUE ADC COMMENT */

.ir {
   position:absolute;
   top:0; right:0;
   z-index:10;
   border:none;
   background:transparent;
   outline:none;
   margin-top: 7px;
 }
 
 .adcComentario {
   position: relative;
   width: 92%;   
 }
 
 .adcComentario input {
    width: 100%;
    height: 30px;
    border-radius: 100px;
 }
footer{
   background-color: #95b8ce;
}
.divFooter {
   display: inline-block;
   margin-left: 110px;
   color: white;
   height: 30%;
}

.divFooter ul {
   list-style: none;
   text-decoration: none;
}
.divFooter ul a{
   color: white;
   text-decoration: none;  
}
.lista {
   list-style: none;
   text-decoration: none;
}

.ingMdp {
   padding: 3px;
}

.imagens:hover {
   transition: all 0.5s;
   width: 410px;
   height: 290px;
}

span {
   color: #aeccdd;
}
.gg-comment{
   font-size: 200px;
}

/*---------------------Botao que rola para cima---------------------*/

#rolarPcima {
   border-radius: 100%;
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 3px solid white;
}

.gg-chevron-up {
   color: white;
}

