@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    scroll-behavior: smooth;
 }
body
{
    margin: 0%;
    overflow-x: hidden;
    background-color: rgba(241, 246, 247, 0.979);
    font-family: 'Ma Shan Zheng', cursive;
}
/*---------------------------MENU-----------------------------------*/
 
#cabecalho ul {
    padding-left: 20px;
    margin: 0;
    background-color: #aeccdd;
    list-style: none;
    font-family: cursive;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 60px;
 }
 
 #cabecalho ul li {
    display: inline;
 }
 
 #cabecalho ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
 }
 
 #cabecalho ul li a:hover {
    color: rgb(31, 30, 30);
    font-family: cursive;
    font-size: 18px;
 }
 
 /*--------------------Adicinar receita--------------------------*/
 
 #adcReceita {
    margin-left: 18%;
 }
 
 #efeito {
    position: absolute;
    margin-top: -33px;
    left: 70.8%;
    opacity: 0;
 }
 
 #efeito:hover {
    opacity: 1;
    animation: loading 8s ease;
    animation-iteration-count: infinite;
 }
 
 @keyframes loading {
    0% {
       transform: rotate(0);
    }
    100% {
       transform: rotate(360deg);
    }
 }
 
 /*--------------------Barra de pesquisa--------------------------*/
 
 .container3 {
    width: 15%;
    position: relative;
    position: absolute;
    top: 1%;
    left: 80%;
 }
 
 #busca {
    width: 100%;
 }
 
 #busca, #buscaa {
    padding: 10px;
 }
 
 #buscaa {
    position: absolute;
    top: 0;
    right: 0;
 }
 
 /* section {
    padding: 50px 10px 50px 50px;
 } */



/* ---------------------Meu codigo------------------- */

.imgSobre{
    width: 600px;
    border:3px solid rgb(255, 255, 255);
}

.container{
    color: white;
    margin:100px;
    background-color: rgb(252, 95, 67);
    border-radius: 10px;
    padding: 50px;
}

.container2
{
    padding-top: 200px;
    text-align: center;
}
.image-group{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.imgSobre
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}
#column
{
    display: flex;
    flex-direction:column;
}
#titulo
{
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 50px;
}
#sobre
{
    margin-bottom: 200px;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 30px;
}
#tamanhoimg
{
    height: 500px;
}


/*---------------------Rodape---------------------*/
 
h2, h1 {
    font-family: sans-serif;
    /* animation: cor 8s 1;
    animation-iteration-count: infinite; */
 }
 
 footer {
    background-color: #95b8ce;
 }
 
 .divFooter {
    display: inline-block;
    margin-left: 110px;
    color: white;
    height: 30%;
 }
 
 .divFooter ul {
    list-style: none;
    text-decoration: none;
 }
 
 .divFooter ul a {
    color: white;
    text-decoration: none;
 }
 
 #buttonn {
    margin-top: 70px;
    border-radius: 15px;
    width: 300px;
    height: 35px;
    background-color: transparent;
    padding-top: 15px;
 }
 
 .gg-math-plus {
    margin-left: 3%;
    margin-top: 5%;
 }
 
 #titleh2 {
    margin-top: -4%;
 }
 
 /* botao que rola para cima */
 
 #rolarPcima {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 3px solid white;
 }
 
 .gg-chevron-up {
    color: white;
 }