html {
    scroll-behavior: smooth;
 }
 
 body {
    margin: 0%;
    overflow-x: hidden;
    background-color: rgba(241, 246, 247, 0.979);
 }
 
 /*---------------------------MENU-----------------------------------*/
 
 #cabecalho ul {
    padding-left: 20px;
    margin: 0;
    background-color: #aeccdd;
    list-style: none;
    font-family: cursive;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 60px;
 }
 
 #cabecalho ul li {
    display: inline;
 }
 
 #cabecalho ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
 }
 
 #cabecalho ul li a:hover {
    color: rgb(31, 30, 30);
    font-family: cursive;
    font-size: 18px;
 }
 
 /*--------------------Adicinar receita--------------------------*/
 
 #adcReceita {
    margin-left: 18%;
 }
 
 #efeito {
    position: absolute;
    left: 70.6%;
    opacity: 0;
 }
 
 #efeito:hover {
    opacity: 1;
    animation: loading 8s ease;
    animation-iteration-count: infinite;
 }
 
 @keyframes loading {
    0% {
       transform: rotate(0);
    }
    100% {
       transform: rotate(360deg);
    }
 }
 
 /*--------------------Barra de pesquisa--------------------------*/
 
 .container {
    width: 15%;
    position: relative;
    position: absolute;
    top: 1%;
    left: 80%;
 }
 
 #busca {
    width: 100%;
 }
 
 #busca, #buscaa {
    padding: 10px;
 }
 
 #buscaa {
    position: absolute;
    top: 0;
    right: 0;
 }
 
 /* section {
    padding: 50px 10px 50px 50px;
 } */
 
 /*---------------------Corpo-------------------------*/
 
 #paisagem {
    width: 100%;
    background-color: rgba(241, 246, 247, 0.979);
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
 }
 
 div.caixa {
    background-color: rgb(215, 234, 241);
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    border-radius: 40px;
    margin-left: 16%;
 }
 
 #titulo {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 400%;
    margin-left: 45%;
 }
 
 img {
    border-radius: 10px;
 }
 
 #link {
    text-decoration: none;
    font-size: 170%;
    color: black;
 }
 
 .estrelas {
    height: 40px;
    width: 140px;
 }
 
 .descricao {
    font-size: 22px;
 }
 
 .tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
 }
 
 /* Tooltip text */
 
 .tooltiptext {
    transition: opacity 1s;
 }
 
 .tooltip .tooltiptext {
    opacity: 0;
    width: 120px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 25px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    margin-left: 30%;
 }
 
 /* Show the tooltip text when you mouse over the tooltip container */
 
 .tooltip:hover .tooltiptext {
    opacity: 1;
 }
 
 .imagens {
    transition: all 1s;
 }
 
 .imagens:hover {
    filter: blur(4px);
 }
 
 /*---------------------Rodape---------------------*/
 
 h2, h1 {
    font-family: sans-serif;
    /* animation: cor 8s 1;
    animation-iteration-count: infinite; */
 }
 
 footer {
    background-color: #95b8ce;
 }
 
 .divFooter {
    display: inline-block;
    margin-left: 110px;
    color: white;
    height: 30%;
 }
 
 .divFooter ul {
    list-style: none;
    text-decoration: none;
 }
 
 .divFooter ul a {
    color: white;
    text-decoration: none;
 }
 
 #buttonn {
    margin-top: 70px;
    border-radius: 15px;
    width: 300px;
    height: 35px;
    background-color: transparent;
    padding-top: 15px;
 }
 
 .gg-math-plus {
    margin-left: 3%;
    margin-top: 5%;
 }
 
 #titleh2 {
    margin-top: -4%;
 }
 
 /* botao que rola para cima */
 
 #rolarPcima {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 3px solid white;
 }
 
 .gg-chevron-up {
    color: white;
 }